.form__lable {
  display: block;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  outline: none;

  color: var(--secondary-text-color);
}

.form-field__wrap {
  position: relative;
}
.form-field__title {
  display: block;
  margin-bottom: 4px;
}
.form__input {
  width: 100%;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--animation);
}
.form-input__icon {
  position: absolute;
  left: 12px;
  top: 11px;
  width: 18px;
  height: 18px;
  transition: fill var(--animation);
}
.form__input:focus {
  border: 1px solid var(--accent-color);
  outline: transparent;
}
.form__input:focus + .form-input__icon {
  fill: var(--accent-color);
}

.form__textarea {
  display: block;
  width: 100%;
  resize: none;
  outline: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border var(--animation);
}
.form__textarea:focus {
  border: 1px solid var(--accent-color);
}
.textarea {
  margin-bottom: 20px;
}
.form__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.form__agreement {
  position: relative;
  display: inline-block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.form__checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form__icon-check {
  position: absolute;
  top: 3px;
  left: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
  transition: background-color var(--animation), border var(--animation);
  @media screen and (max-width: 1199.98px) {
    left: 0;
  }
}
.form__agreement-text {
  padding-left: 25px;
  font-size: 14px;
  line-height: 1.71;

  color: var(--secondary-text-color);
  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.17;
    padding-left: 17px;
  }
}
.form__checkbox:checked + .form__icon-check {
  background-color: var(--accent-color);
  border: none;
}
.form__agreement-link {
  font-size: 14px;
  line-height: 1, 71;

  color: var(--accent-color);
  @media screen and (max-width: 1199.98px) {
    font-size: 12px;
    line-height: 1.17;
  }
}
.form__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
