.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity var(--animation);
  background-color: rgba(0, 0, 0, 0.2);
  @media screen and (max-width: 767.98px) {
    overflow-y: scroll;
  }
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  max-width: 528px;
  height: 581px;
  padding: 40px;
  border-radius: 4px;
  transition: transform var(--animation), opacity var(--animation);
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  @media screen and (max-width: 767.98px) {
    width: 450px;
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(2.3);
  opacity: 0.7;
}
.btn-close {
  @include centeredFlex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition: fill var(--animation), background-color var(--animation);

  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__btn-close {
  position: absolute;
  right: 8px;
  top: 8px;
}
.modal__btn-close:hover,
.modal__btn-close:focus {
  fill: var(--accent-color);
  outline: none;
}

.modal__title {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
  @media screen and (max-width: 767.98px) {
    text-align: center;
  }
}
