html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
  // outline: 2px solid red;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.link {
  text-decoration: none;
  color: inherit;
  transition: color var(--animation);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}

.list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.dark-bgc {
  background-color: var(--dark-bg-color);
}
