.footer-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__logo {
  margin-bottom: 20px;
  color: var(--white-color);
}
.footer__title {
  display: block;
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer__wrap {
  display: block;
  @media screen and (max-width: 767.98px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.footer__icon {
  fill: var(--white-color);
}
.footer-form__form-field {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-bottom: 20px;
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--dark-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}
.footer-form__wrap {
  display: inline-block;
  text-align: center;
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.footer-form__form-field::placeholder {
  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
}

.button-subscribe {
  margin-left: 12px;
}
.button-subscribe__icon {
  margin-left: 10px;
}
.content-box {
  --block-quntity: 2;
}
.footer__mobile {
  margin-bottom: 60px;
}
